*{
    margin: 0;
    padding: 0;
}

body{
    margin: 2em;
}

#teams{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .team{
        display: flex;
        flex-direction: column;
        height: fit-content;
        max-width: 320px;
        background-color: rgb(226, 226, 226);
        flex:  1 0 200px;
        border-radius: 5px;

        img{
            display: flex;
            margin: 0 auto;
            width: 150px;
            object-fit: contain;
        }

    }
}