<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/matches/matches.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Copa Libertadores</h1>
    <p>Confira o resultado do jogo em tempo real e o clima da região</p>
    <div id="games">

    </div>
    <script>


        function loadTeams() {
            fetch('http://127.0.0.1:5002/matches')
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    console.log(data.nameHomeTeam);
                    // matches.forEach(data => {
                    kelvin = data.weather
                    conversor = kelvin - 273.15
                    celsius = conversor.toFixed(1)
                    document.getElementById('games').innerHTML = `
                                                                <div class="clima">
                                                                    <p>Clima em Guaiaquil (Equador)</p>
                                                                    <p><strong>${celsius}° Graus Celsius</strong> - ${data.description}</p>
                                                                    
                                                                </div>
                                                                <div class="game">
                                                                    <div>
                                                                        <img src='${data.homeCrest}'>
                                                                        <h3>${data.nameHomeTeam}</h3>
                                                                        <p>Score: ${data.scoreHomeTeam}</p>
                                                                    </div>

                                                                    <p class="vs">vs</p>

                                                                    <div>
                                                                        <img src='${data.awayCrest}'>
                                                                        <h3>${data.nameAwayTeam}</h3>
                                                                        <p>Score: ${data.scoreAwayTeam}</p>
                                                                    </div>
                                                                </div>`
                    // });
                })
                .catch(error => {
                    console.log(error);
                });
        }
        loadTeams()
    </script>
</body>
</html>